{% extends "base.html" %}
{% block content %}
<div class="container py-5 text-center">
    <img src="img/logo.svg" class="logo-main">
    <br><br>
    <h1 class="font-weight-bold">Hi, {{ name }}. You have {{ len }} pending packages.</h1>
    <br><br>
    <div class="col">
        <a href="/logout" class="button-red">Log out</a>
    </div>
</div>

<div class="container">
    {% if packages %}
    {% for package in packages %}
    <div class="row py-3">
        <div class="col">
            <div class="card-red">
                {% if package.status == 'NS' or package.status == 'PAP' %}
                <div class="px-4" style="padding: 10px; position: absolute; top: 0px; right: 0px;">
                    <a href="/edit?package={{ package.package }}" class="button-white d-inline-block"><img
                            src="img/edit-icon.svg" width="20px" alt=""></a>
                </div>
                {% endif %}
                <h2 class="text-white">Package #{{ package.package}}</h2>
                <p>
                    {% for label in package.labels%}
                    <span class="label-{{ label }} px-4">{{ label }}</span>
                    {% endfor %}
                </p>
                <br>
                {% if package.contents %}
                <h6 class="text-white font-weight-bold">
                    Contents
                </h6>
                <p class="text-white">
                    {{ package.contents }}
                </p>
                {% endif %}
                <img src="{{ package.img }}" class="card-img">
            </div>
        </div>
        <div class="col">
            <div class="card-blue">
                <h2 class="text-white">Status</h2>
                <div class="row">
                    <div class="col-form-label-sm px-2">
                        <span class="label-{{ package.status }} px-4">
                             {% if package.status == "NAP" %}
                            Not Approved
                            {% elif package.status == "PAP" %}
                            Pending Approval
                            {% elif package.status == "NS" %}
                            Not Shipped
                            {% elif package.status == "S" %}
                            Shipped
                            {% elif package.status == "A" %}
                            Arrived
                            {% endif %}
                        </span>
                    </div>
                </div>
                <br>
                {% if package.node_master or package.node_master != '' %}
                <h6 class="text-white font-weight-bold">
                    Node Master
                </h6>
                <p class="text-white">
                    {{ package.node_master }}
                </p>
                {% endif %}
                <h6 class="text-white font-weight-bold">
                    Address
                </h6>
                <p class="text-white">
                    {{ package.address }}
                </p>
                <h6 class="text-white font-weight-bold">
                    Date Ordered
                </h6>
                <p class="text-white">
                    {{ package.date_ordered }}
                </p>
                {% if package.date_shipped != "NS" %}
                <h6 class="text-white font-weight-bold">
                    Date Shipped
                </h6>
                <p class="text-white">
                    {{ package.date_shipped }}
                </p>
                {% endif %}
                {% if package.date_shipped != "NA" %}
                <h6 class="text-white font-weight-bold">
                    Date Arrived
                </h6>
                <p class="text-white">
                    {{ package.date_arrived }}
                </p>
                {% endif %}
                {% if package.tracking_num != -1 %}
                <h6 class="text-white font-weight-bold">
                    Tracking Number
                </h6>
                <p class="text-white">
                    {{ package.tracking_num }}
                </p>
                {% endif %}
                {% if package.note %}
                <h6 class="text-white font-weight-bold">
                    Note
                </h6>
                <p class="text-white">
                    {{ package.note }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card-yellow">
                {% if package.status == "NS" %}
                <h2 class="text-white">Waiting for your package to ship...</h2>
                {% elif package.status == "S" %}
                <h2 class="text-white">Has this package arrived yet?</h2>
                <br>
                <div class="row">
                    <div class="col">
                        <a href="/confirm?package={{ package.package }}" class="button-green">Yes</a>
                    </div>
                </div>
                {% elif package.status == "A" %}
                <h2 class="text-white">We hope you enjoy your package! :)</h2>
                <br>
                <div class="row">
                    <div class="col">
                        <a href="/deconfirm?package={{ package.package }}" class="button-red">It didn't actually arrive</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endblock %}